openapi: 3.0.3
info:
  title: Qirāʾāt API
  description: |
    API for accessing Qirāʾāt (variant Quran readings) data from Quran.com.

    This API provides access to:
    - The 10 canonical Readers (Qurrāʾ) and their Transmitters (Rāwīs)
    - Reading variations at specific word/phrase junctures
    - Translations, transliterations, and explanations
    - Matrix view optimized for table rendering

    ## Common Parameters

    All endpoints support the following query parameters:
    - `language` - ISO code for localized content (default: `en`)

    ## Response Format

    All responses are returned in JSON format.
  version: 1.0.0
  contact:
    name: Quran.com API
    url: https://quran.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.quran.com/api/qdc
    description: Production API
  - url: http://localhost:3000/api/qdc
    description: Local development

tags:
  - name: Resources
    description: Available readers and transmitters
  - name: Readers
    description: The 10 canonical Qurrāʾ
  - name: Transmitters
    description: The Rāwīs who narrated from readers
  - name: Junctures
    description: Points of variation in the Quran text
  - name: Readings
    description: Individual reading variants
  - name: Matrix
    description: Optimized matrix view for table rendering

paths:
  # ============================================
  # RESOURCES
  # ============================================
  /qiraat/resources/readers:
    get:
      summary: List all readers with optional includes
      description: Returns a list of all 10 canonical readers. Supports optional includes for transmitters and biographical info.
      operationId: getResourceReaders
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/language'
        - name: include
          in: query
          description: Comma-separated list of related resources to include
          schema:
            type: string
            example: transmitters,bio
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  readers:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReaderResource'

  /qiraat/resources/transmitters:
    get:
      summary: List all transmitters
      description: Returns a list of all transmitters, optionally filtered by reader.
      operationId: getResourceTransmitters
      tags:
        - Resources
      parameters:
        - $ref: '#/components/parameters/language'
        - name: reader_id
          in: query
          description: Filter transmitters by reader ID
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transmitters:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransmitterResource'

  # ============================================
  # READERS
  # ============================================
  /qiraat/readers:
    get:
      summary: List all readers
      description: Returns all 10 canonical readers with their transmitters and localized content.
      operationId: getReaders
      tags:
        - Readers
      parameters:
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  readers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Reader'

  /qiraat/readers/{id}:
    get:
      summary: Get a specific reader
      description: Returns detailed information about a specific reader including transmitters and biographical info.
      operationId: getReader
      tags:
        - Readers
      parameters:
        - name: id
          in: path
          required: true
          description: Reader ID
          schema:
            type: integer
            example: 5
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reader:
                    $ref: '#/components/schemas/ReaderDetailed'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # TRANSMITTERS
  # ============================================
  /qiraat/transmitters:
    get:
      summary: List all transmitters
      description: Returns all transmitters, optionally filtered by reader.
      operationId: getTransmitters
      tags:
        - Transmitters
      parameters:
        - $ref: '#/components/parameters/language'
        - name: reader_id
          in: query
          description: Filter transmitters by reader ID
          schema:
            type: integer
            example: 5
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transmitters:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transmitter'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 20

  /qiraat/transmitters/{id}:
    get:
      summary: Get a specific transmitter
      description: Returns detailed information about a specific transmitter including biographical info.
      operationId: getTransmitter
      tags:
        - Transmitters
      parameters:
        - name: id
          in: path
          required: true
          description: Transmitter ID
          schema:
            type: integer
            example: 10
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  transmitter:
                    $ref: '#/components/schemas/TransmitterDetailed'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # JUNCTURES
  # ============================================
  /qiraat/junctures/by_verse/{verse_key}:
    get:
      summary: Get junctures for a verse
      description: Returns all variation points (junctures) for a specific verse.
      operationId: getJuncturesByVerse
      tags:
        - Junctures
      parameters:
        - name: verse_key
          in: path
          required: true
          description: Verse key in format chapter:verse
          schema:
            type: string
            example: '2:36'
        - $ref: '#/components/parameters/language'
        - name: include
          in: query
          description: Comma-separated list of related resources to include
          schema:
            type: string
            example: readings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  junctures:
                    type: array
                    items:
                      $ref: '#/components/schemas/Juncture'
        '404':
          $ref: '#/components/responses/NotFound'

  /qiraat/junctures/by_chapter/{chapter_number}:
    get:
      summary: Get junctures for a chapter
      description: Returns all variation points (junctures) for a specific chapter with pagination.
      operationId: getJuncturesByChapter
      tags:
        - Junctures
      parameters:
        - name: chapter_number
          in: path
          required: true
          description: Chapter number (1-114)
          schema:
            type: integer
            minimum: 1
            maximum: 114
            example: 2
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  junctures:
                    type: array
                    items:
                      $ref: '#/components/schemas/Juncture'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'

  /qiraat/junctures/{id}:
    get:
      summary: Get a specific juncture
      description: Returns detailed information about a specific juncture including all readings.
      operationId: getJuncture
      tags:
        - Junctures
      parameters:
        - name: id
          in: path
          required: true
          description: Juncture ID
          schema:
            type: integer
            example: 1
        - $ref: '#/components/parameters/language'
        - name: include
          in: query
          description: Comma-separated list of related resources to include
          schema:
            type: string
            example: readings
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  juncture:
                    $ref: '#/components/schemas/JunctureDetailed'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # READINGS
  # ============================================
  /qiraat/readings/{id}:
    get:
      summary: Get a specific reading
      description: Returns detailed information about a specific reading variant including attributions and explanations.
      operationId: getReading
      tags:
        - Readings
      parameters:
        - name: id
          in: path
          required: true
          description: Reading ID
          schema:
            type: integer
            example: 1
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  reading:
                    $ref: '#/components/schemas/ReadingDetailed'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # MATRIX VIEW
  # ============================================
  /qiraat/matrix/by_verse/{verse_key}:
    get:
      summary: Get matrix view for a verse
      description: |
        Returns a matrix view optimized for table rendering, showing all junctures and readings
        for a specific verse with reader/transmitter attributions.
      operationId: getMatrixByVerse
      tags:
        - Matrix
      parameters:
        - name: verse_key
          in: path
          required: true
          description: Verse key in format chapter:verse
          schema:
            type: string
            example: '12:12'
        - $ref: '#/components/parameters/language'
        - name: text_field
          in: query
          description: Text field to use for Arabic text
          schema:
            type: string
            enum:
              - text_uthmani
              - text_imlaei
              - text_qpc_hafs
            default: text_uthmani
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatrixResponse'
        '400':
          description: Invalid verse_key format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'

  /qiraat/matrix/by_chapter/{chapter_number}:
    get:
      summary: Get matrix view for a chapter
      description: |
        Returns a matrix view optimized for table rendering, showing all junctures and readings
        for a specific chapter with reader/transmitter attributions and pagination.
      operationId: getMatrixByChapter
      tags:
        - Matrix
      parameters:
        - name: chapter_number
          in: path
          required: true
          description: Chapter number (1-114)
          schema:
            type: integer
            minimum: 1
            maximum: 114
            example: 2
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: text_field
          in: query
          description: Text field to use for Arabic text
          schema:
            type: string
            enum:
              - text_uthmani
              - text_imlaei
              - text_qpc_hafs
            default: text_uthmani
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/MatrixResponse'
                  - type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'

# ============================================
# COMPONENTS
# ============================================
components:
  parameters:
    language:
      name: language
      in: query
      description: ISO language code for localized content
      schema:
        type: string
        default: en
        example: en

    page:
      name: page
      in: query
      description: Page number for pagination
      schema:
        type: integer
        default: 1
        minimum: 1
        example: 1

    per_page:
      name: per_page
      in: query
      description: Number of items per page (max 100)
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
        example: 20

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    # ----------------------------------------
    # ERROR
    # ----------------------------------------
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: NOT_FOUND
            message:
              type: string
              example: Resource not found
            details:
              type: object
              additionalProperties: true

    # ----------------------------------------
    # PAGINATION
    # ----------------------------------------
    Pagination:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        total_pages:
          type: integer
          example: 5
        total_count:
          type: integer
          example: 100
        per_page:
          type: integer
          example: 20

    # ----------------------------------------
    # READER
    # ----------------------------------------
    ReaderResource:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: Asim
        abbreviation:
          type: string
          example: A
        position:
          type: integer
          example: 5

    Reader:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: Asim
        abbreviation:
          type: string
          example: A
        position:
          type: integer
          example: 5
        death_year_hijri:
          type: integer
          nullable: true
          example: 127
        death_year_gregorian:
          type: integer
          nullable: true
          example: 745
        name_translations:
          type: object
          additionalProperties:
            type: string
          example:
            en: ʿĀṣim
            ar: عاصم
        transmitters:
          type: array
          items:
            $ref: '#/components/schemas/TransmitterBrief'

    ReaderDetailed:
      allOf:
        - $ref: '#/components/schemas/Reader'
        - type: object
          properties:
            bio:
              type: object
              nullable: true
              properties:
                text:
                  type: string
                short_text:
                  type: string
                  nullable: true

    ReaderBrief:
      type: object
      properties:
        id:
          type: integer
          example: 5
        name:
          type: string
          example: Asim
        abbreviation:
          type: string
          example: A

    # ----------------------------------------
    # TRANSMITTER
    # ----------------------------------------
    TransmitterResource:
      type: object
      properties:
        id:
          type: integer
          example: 10
        name:
          type: string
          example: Hafs
        abbreviation:
          type: string
          example: H
        reader_id:
          type: integer
          example: 5
        reader_name:
          type: string
          example: Asim

    Transmitter:
      type: object
      properties:
        id:
          type: integer
          example: 10
        name:
          type: string
          example: Hafs
        abbreviation:
          type: string
          example: H
        reader_id:
          type: integer
          example: 5
        reader_name:
          type: string
          example: Asim
        is_primary:
          type: boolean
          example: false
        death_year_hijri:
          type: integer
          nullable: true
        death_year_gregorian:
          type: integer
          nullable: true
        position:
          type: integer
          example: 2
        translated_name:
          type: string
          example: Ḥafṣ

    TransmitterDetailed:
      allOf:
        - $ref: '#/components/schemas/Transmitter'
        - type: object
          properties:
            bio:
              type: object
              nullable: true
              properties:
                text:
                  type: string
                short_text:
                  type: string
                  nullable: true

    TransmitterBrief:
      type: object
      properties:
        id:
          type: integer
          example: 10
        name:
          type: string
          example: Hafs
        abbreviation:
          type: string
          example: H
        is_primary:
          type: boolean
          example: false
        position:
          type: integer
          example: 2

    # ----------------------------------------
    # JUNCTURE
    # ----------------------------------------
    Juncture:
      type: object
      properties:
        id:
          type: integer
          example: 1
        position:
          type: integer
          example: 1
        verse_key:
          type: string
          example: '2:36'
        text_uthmani:
          type: string
          example: فَأَزَلَّهُمَا
        juz_number:
          type: integer
          nullable: true
          example: 1
        hizb_number:
          type: integer
          nullable: true
          example: 1
        flags:
          type: array
          items:
            type: string
            enum:
              - grammatical
              - phonetic
              - morphological
              - semantic
              - dialectal
              - orthographic
              - recitation_style
          example: []

    JunctureDetailed:
      allOf:
        - $ref: '#/components/schemas/Juncture'
        - type: object
          properties:
            segments:
              type: array
              items:
                $ref: '#/components/schemas/JunctureSegment'
            readings:
              type: array
              items:
                $ref: '#/components/schemas/Reading'
            explanation:
              type: object
              nullable: true
              properties:
                text:
                  type: string
                source:
                  type: string
                  nullable: true
            combined_translation:
              type: string
              nullable: true

    JunctureSegment:
      type: object
      properties:
        id:
          type: integer
          example: 1
        verse_key:
          type: string
          example: '8:65'
        start_word_position:
          type: integer
          example: 1
        end_word_position:
          type: integer
          example: 2
        text_uthmani:
          type: string
          example: وَاِنْ يَّكُنْ
        position:
          type: integer
          example: 0

    # ----------------------------------------
    # READING
    # ----------------------------------------
    Reading:
      type: object
      properties:
        id:
          type: integer
          example: 1
        juncture_id:
          type: integer
          example: 1
        text_uthmani:
          type: string
          example: فَأَزَلَّهُمَا
        text_imlaei:
          type: string
          nullable: true
          example: فأزلهما
        grammatical_form:
          type: string
          nullable: true
          example: Form II
        root_letters:
          type: string
          nullable: true
          example: ز ل ل
        position:
          type: integer
          example: 1
        color:
          type: string
          example: '#f5f5f5'
        translation:
          type: string
          nullable: true
          example: Then he caused them to err
        transliteration:
          type: string
          nullable: true
          example: fa-azallahumā
        readers:
          type: array
          items:
            $ref: '#/components/schemas/ReaderBrief'

    ReadingDetailed:
      allOf:
        - $ref: '#/components/schemas/Reading'
        - type: object
          properties:
            verse_key:
              type: string
              example: '2:36'
            explanation:
              type: object
              nullable: true
              properties:
                id:
                  type: integer
                text:
                  type: string
                source:
                  type: string
                  nullable: true
            explanations:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  text:
                    type: string
                  source:
                    type: string
                    nullable: true
            attributed_to:
              type: object
              properties:
                readers:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      abbreviation:
                        type: string
                      scope:
                        type: string
                        example: all_transmitters
                transmitters:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      abbreviation:
                        type: string
                      reader_id:
                        type: integer
                      reader_name:
                        type: string

    # ----------------------------------------
    # MATRIX RESPONSE
    # ----------------------------------------
    MatrixResponse:
      type: object
      properties:
        verse_key:
          type: string
          example: '12:12'
        text_field:
          type: string
          example: text_uthmani
        readers:
          type: array
          description: All 10 canonical readers in order
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              abbreviation:
                type: string
              position:
                type: integer
              transmitters:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    abbreviation:
                      type: string
                    is_primary:
                      type: boolean
                    position:
                      type: integer
        junctures:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              position:
                type: integer
              verse_key:
                type: string
              text:
                type: string
                description: Juncture text in the requested text_field format
              segments:
                type: array
                items:
                  type: object
                  properties:
                    verse_key:
                      type: string
                    start_word_position:
                      type: integer
                    end_word_position:
                      type: integer
                    text:
                      type: string
              readings:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    text:
                      type: string
                    position:
                      type: integer
                    color:
                      type: string
                    translation:
                      type: string
                      nullable: true
                    transliteration:
                      type: string
                      nullable: true
                    attributions:
                      type: object
                      properties:
                        reader_ids:
                          type: array
                          items:
                            type: integer
                          description: Reader IDs with reader-level attribution
                        transmitter_ids:
                          type: array
                          items:
                            type: integer
                          description: Transmitter IDs with transmitter-level attribution
                    explanations:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          text:
                            type: string
                          source:
                            type: string
                            nullable: true
              explanation:
                type: object
                nullable: true
                properties:
                  text:
                    type: string
                  source:
                    type: string
                    nullable: true
